div.equipo{
    background-color: #000839;
    height: 1100px;
    width: 100%;
    
    
}

div h1{
    color: white;
    padding: 30px;
    text-align: center;
  
}

.flex-container {
    background-color: #000839;
    height: 250px;
    display:grid;
    grid-template-rows: auto;
    margin-top: 0px;
    padding-top: 70px;
    width: 100%;
    justify-content:space-between;
   
    
  }

  .imagen-1 {
    grid-row: 1; 
    grid-column: 1;
    height: 300px;
    width: 300px;
    margin-left: 30px;
   
      
  }
  .imagen-2 {
    grid-row: 1; 
    grid-column: 2;
    height: 300px;
    width: 300px;
   
  
  }
  .imagen-3 {
    grid-row: 1; 
    grid-column: 3;
    height: 300px;
    width: 300px;
   margin-right: 30px;
    
  
   
  }
  span.raul{
    color: white;
    visibility: visible;
    grid-column: 1;
    grid-row: 2;
    margin-left: 30px;
    
    
  }
  span.jorge{
    color: white;
    visibility: visible;
    grid-column: 2;
    grid-row: 2;
   
  }
  span.sergio{
    color: white;
    visibility: visible;
    grid-column: 3;
    grid-row: 2;

  
 }

  
  @media only screen and (max-width: 768px) {

 

  .flex-container{
    background-color: #000839;
    height: 900;
    display:table-cell;

    
  }



 .imagen-1 {
  
  
  height: 300px;
  width: 300px;
  margin-left: auto;
    
}
.imagen-2 {

  height: 300px;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;

}
.imagen-3 {
 

  height: 300px;
  width: 300px;
}
  

span.raul{
   
  visibility: hidden;
}
span.jorge{
  
  visibility: hidden;
 
}
span.sergio{

  visibility: hidden;
}

   div  h1{
      text-align: left;
    }
    
  }
 