<<<<<<< HEAD
.formulario {
    background-color: #000839;
    padding-top: 30px;
    width: 100%;
}

.form-control {
=======

  .formulario{
      background-color: #000839;
      padding-top: 30px;
      height: 700px;
      width: 100%;
  }
  
  .form-control {
>>>>>>> 1a8bed097bed0cf2b87496bf6e7075271ed7fb73
    width: 50% !important;
    background-color: #ffa41b;
    border-color: #000839;
    padding: 10px;
<<<<<<< HEAD
}

.h1form {
    color: white;
}

input {
    background-color: white;
    border-color: #000839;
    size: 80%;
}

input::placeholder {
=======
   
  }
   
  .h1form{
      color: white;
  }

  .boton{
      padding-top: 20px;
  }


  input{
    background-color: white;
    border-color: #000839;
    size: 80%;
  
  }

  input::placeholder {
>>>>>>> 1a8bed097bed0cf2b87496bf6e7075271ed7fb73
    background-color: white;
    border-color: #000839;
    font-size: 1.2em;
    font-style: oblique;
<<<<<<< HEAD
}

textarea::placeholder {
    background-color: white;
    font-size: 1.2em;
    font-style: oblique;
}

@media only screen and (max-width: 1200px) {
    .form-control {
        width: 90% !important;
    }
}

@media only screen and (max-width: 768px) {
    .form-control {
        width: 90% !important;
    }
    @media only screen and (max-width: 320px) {
        .form-control {
            width: 90% !important;
        }
    }
}
=======
  }


  textarea::placeholder{
    background-color: white;
    font-size: 1.2em;
    font-style: oblique;
    
  }
>>>>>>> 1a8bed097bed0cf2b87496bf6e7075271ed7fb73
